<nav class="nav">
  <%= image_tag "logodark.png", class: "nav-img" %>
  <%= link_to "Home", root_path %> |
  <%= link_to "About", about_path %> |
  <%= link_to "Products", products_path, data: { turbo: false } %> |
  <%= link_to "Videos", videos_path %> |
  <% if user_signed_in? %>
    <%= link_to "Events", events_path %> |
    <%= link_to "Swap Meet", parts_path %> |
    <%= link_to "Account", "/account" %> |
    <%= link_to "Contact", contact_path %> |
    <% if user_signed_in? && current_user.admin? %>
        <%= link_to "Admin", admin_root_path %> |
        <%= link_to "Feedback", new_enhancement_request_path %> |
    <% end %>
    <%= button_to "Logout",
              destroy_user_session_path,
              method: :delete,
              form: { data: { turbo: false } }
              %>
  <% else %>
    <%= link_to "Login", new_user_session_path %> |
    <%= link_to "Sign up", new_user_registration_path %>
  <% end %>

</nav>
<hr class="nav-hr">
