<section class="landing">

  <div class="main-landing-container">
    <div class="landing-background">
        <%= image_tag "landing0.1.27.png", alt: "Pickled Pirates Racing" %>
    </div>

    <% unless user_signed_in? %>
      <div class="landing-cta">
        <%= link_to "Get Pickled", new_user_session_path, class: "cta-button" %>
      </div>
    <% end %>
  </div>

  

  <div class="main-landing-videos">
    <% if @featured_videos.any? %>
      <h2>Latest Videos</h2>

      <div class="videos-grid">
        <% @featured_videos.each do |video| %>
          <div class="video-card">
            <div class="video-frame">
              <iframe
                class="youtube-video"
                src="<%= youtube_embed(video) %>"
                frameborder="0"
                allowfullscreen>
              </iframe>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="main-landing-products">
    <% if @featured_products.any? %>
        <h2>Featured Products</h2>

        <div class="products">
        <% @featured_products.each do |product| %>
            <%= link_to product_path(product), class: "featured-product-link", data: { turbo: false } do %>
                <div class="product">
                <% if product.image_key.present? %>
                  <%= image_tag product.image_url, alt: product.name %>
                <% elsif product.image.present? %>
                  <%= image_tag product.image, alt: product.name %>
                <% end %>


                <h3><%= product.name %></h3>
                <p class="product-description"><%= product.description %></p>
                <% if product.price_hidden? %>
                  <p>Coming Soon</p>
                <% else %>
                  <p>$<%= number_with_precision(product.price, precision: 2) %></p>
                <% end %>
                </div>
            <% end %>
            <% end %>
        </div>
    <% end %>

  </div>

</section>
