<section class="products-page">

  <h1>Products</h1>

  <div class="products-grid">
    <% @products.each do |product| %>
      <%= link_to product_path(product), class: "product-link", data: { turbo: false } do %>
                <div class="product">
                <% if product.image_key.present? %>
                  <%= image_tag product.image_url, alt: product.name %>
                <% elsif product.image.present? %>
                  <%= image_tag product.image, alt: product.name %>
                <% end %>

                <h3><%= product.name %></h3>
                <p><%= product.description %></p>
                <p>$<%= number_with_precision(product.price, precision: 2) %></p>
                </div>
            <% end %>
    <% end %>
  </div>

</section>